:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #111;
  background: #fff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: #646cff;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #535bf2;
}
